<html>
        <head>
                <title>Raaed's haiku generator</title>
                <!-- <link rel="stylesheet" type="text/css" href="static/css/main.css" media="screen" /> -->
                <style>
                        html {
                                font-family: mono;
                                background-image: url('static/img/dr-manhattan.jpg');
                                background-size: 100% 100%;
                                background-attachment: fixed;
                                background-repeat: no-repeat;
                        }
                        h1 {
                                color: magenta;
                        }
                </style>
        </head>
        <body>
                <h1>haikugen</h1>
                <img src="static/img/dr-manhattan.jpg">
        </body>
</html>
